<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #crearForm="ngForm">
      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cita.telefono" name="telefono" required minlength="9" maxlength="9" #telefono= "ngModel"> <!-- required minlength="9" maxlength="9" #telefono= "ngModel"-->
          <div class= "alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div *ngIf= telefono.errors.required>
                Telefono requerido
            </div>
            <div *ngIf= telefono.errors.minlength>
                Requerido 9 digitos
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)]="cita.createAt" name="createAt" required><!-- -->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cita.id else elseBlock" [disabled]="!crearForm.form.valid">Crear</button><!-- *ngIf="!citas.id else elseBlock"-->
        </div>
      </div>
    </form>
  </div>
</div>
